@model Firma.Data.Data.Towar

@{
    ViewData["Title"] = "Edycja Towaru";
}

<h1>Edytuj Herbatę</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="IdTowaru" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Kod" class="control-label"></label>
                <input asp-for="Kod" class="form-control" />
                <span asp-validation-for="Kod" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Nazwa" class="control-label"></label>
                <input asp-for="Nazwa" class="form-control" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label">Kategoria</label>
                <select asp-for="IdRodzaju" class="form-control" asp-items="ViewBag.Rodzaje"></select>
                <span asp-validation-for="IdRodzaju" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FotoURL" class="control-label">Nazwa pliku zdjęcia</label>
                <input asp-for="FotoURL" class="form-control" />
                <span asp-validation-for="FotoURL" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label fw-bold">Wybierz Tagi:</label>
                <div class="card p-3">
                    @if (ViewBag.WszystkieTagi != null)
                    {
                        foreach (var tag in ViewBag.WszystkieTagi as List<Firma.Data.Data.Tag>)
                        {
                            bool jestPrzypisany = Model.TowarTagi != null &&
                            Model.TowarTagi.Any(tt => tt.IdTagu == tag.IdTagu);

                            <div class="form-check form-check-inline">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="wybraneTagi"
                                       value="@tag.IdTagu"
                                       id="tag_@tag.IdTagu"
                                       @(jestPrzypisany ? "checked" : "") />
                                <label class="form-check-label" for="tag_@tag.IdTagu">
                                    @tag.Nazwa
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Powrót</a>
            </div>
        </form>
    </div>
</div>