@{
    ViewData["Title"] = "Dziękujemy!";
}

<div class="center-align" style="margin-top: 50px;">
    <i class="material-icons large green-text">check_circle</i>
    <h1>Dziękujemy za zamówienie!</h1>
    <p class="flow-text">Twoje herbaty wkrótce wyruszą w drogę.</p>
    <a href="/" class="btn btn-large teal">Wróć do sklepu</a>
</div>